body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.container {
    display: flex;
    flex-direction: column;
}

.head {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    gap: 16px;
}

.link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.head-content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.left-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: stretch;
    justify-content: space-between;
}

.head-title {
    font-size: 64px;
    font-weight: 900;
}

.head-text {
    font-size: 24px;
}

.head-button {
    border: none;
    height: 48px;
    background-color: #3882F6;
    color: #E5E7EB;
    width: max-content;
    font-size: 20px;
    padding: 8px 32px;
    border-radius: 8px;
    cursor: pointer;
}

.right-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D747D;
    padding: 40px 0;
    border-radius: 20px;
}

.eepy-gato {
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 0 10px 5px #717171;
}