body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
}

.container {
    display: flex;
    flex-direction: column;
}

.head {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 100px;
}

.logo {
    font-size: 24px;
    font-weight: bolder;
}

.header-links {
    display: flex;
    gap: 16px;
}

.link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.head-content {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.left-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: stretch;
    justify-content: space-between;
}

.head-title {
    font-size: 64px;
    font-weight: 900;
}

.head-text {
    font-size: 24px;
    color: #E5E7EB;
}

.head-button {
    background-color: #3882F6;
    border: none;
    width: fit-content;
    border-radius: 16px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 16px 64px;
    cursor: pointer;
}

.right-block {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6D747D;
    padding: 40px 0;
    border-radius: 20px;
}

.eepy-gato {
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 0 10px 5px #717171;
}

.body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.body-block-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    padding: 60px 100px;
}

.body-title {
    font-size: 40px;
    color: #1F2937;
    font-weight: 900;
}

.windows {
    display: flex;
    gap: 100px;
}

.patting {
    border-radius: 16px;
    box-shadow: 0 0 30px 5px #c4c4c4;
}

.window {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.window p {
    margin: 0;
    padding: 20px 0;
    font-size: 18px;
    color: #6D747D;
}

.body-block-2 {
    display: flex;
    flex-direction: column;
    align-items: center ;
    background-color: #E5E7EB;
    padding: 180px 300px;
}

.quote {
    font-size: 40px;
    color: #1F2937;
    font-weight: 300;
}

.quote-by {
    align-self: flex-end;
    font-size: 24px;
    font-weight: 900;
    padding: 20px 40px 0 0;
}

.body-block-3 {
    background-color: #3882F6;
    margin: 120px 230px;
    padding: 80px 160px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
}

.cta-title {
    font-size: 32px;
    color: #F9FAF8;
    font-weight: 900;
}

.cta-text {
    font-size: 20px;
    color: #E5E7EB;
    margin: 0;
    padding: 0;
}

.cta-button {
    background-color: #3882F6;
    border: solid 4px #F9FAF8;
    border-radius: 16px;
    font-size: 24px;
    color: #F9FAF8;
    padding: 0 64px;
    cursor: pointer;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
}